@use 'colors';

.main {
    width: 100vw;
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Galindo', cursive;
    background-color: colors.$background-gray;
  }